@import "tailwindcss";

body {
  background-color: #e2dff6;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

.egg-container {
  width: 50%;
  max-width: 380px;

  min-width: 120px;
  margin: 0 auto;
  position: relative;
}

.egg-container svg {
  width: 100%;

  height: auto;
  display: block;
}

@media (max-width: 1024px) {
  .egg-container {
    width: 40%; /* tablet */
  }
}

@media (max-width: 640px) {
  .egg-container {
    width: 80%; /* mobile */
    margin-top: 2rem;
  }
}
.icon {
  height: 45px; 
  width: 45px;
  border-radius: 50%;
}

.inset-angle {
  width: 300px;
  height: 100px;
  padding: 10px;
  background-color: #322b5e;
  clip-path: path("M0 0 L300 0 L300 54 A25 25 0 0 1 280 63 L240 69 A4 4 0 0 0 240 75 L270 100 L280 100 L255 100 L0 100 Z");
}

@keyframes newsMarquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.news-marquee {
  animation: newsMarquee 25s linear infinite;
}




@keyframes waveFloatUpDown {
  0% {
    transform: translatey(10px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(10px);
  }
}

.animate-wave-updown {
  animation: waveFloatUpDown 6s ease-in-out infinite;
}

/* .shape {
  background-color: #C5BFED;
  clip-path: path("M0 20 L 20 20 L20 0 L60 0 L60 20 L100 20 L100 80 L80 80 L80 100 L40 100 L40 95 L0 95 Z");
} */

